<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>{% block title %} {% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>
<link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
<link rel="stylesheet" type = "text/css" href="{{url_for('static', filename='css/index.css')}}">

</head>
<body>
<!-- partial:index.partial.html -->
<header>
  <nav>
    <div id="brand">
      <div id="logo">
        <img id="ghostcodelogo" src="{{url_for('static', filename='img/logo.png')}}" alt=""></img>
      </div>
      <div id="word-mark">
        <img id="ghostcode" src="{{url_for('static', filename='img/ghostcode.png')}}" alt=""></img>
        
      </div>
    </div>
    <div id="container2">
      <form autocomplete="off">
        <div class="finder">
          <div class="finder__outer">
            <div class="finder__inner">
              <div class="finder__icon" ref="icon"></div>
              <input class="finder__input" type="text" name="q" placeholder="Buscar producto..." />
            </div>
          </div>
        </div>
      </form>
    </div>
    <div id="menu">
      <div id="menu-toggle">
        <div id="menu-icon">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
      <ul>
        <li><a href="#section00"></a></li>
        <li><a href="#section01"></a></li>
        <li><a href="#section02"></a></li>
        <div id="cartdiv">
          <img id="cart" src="{{url_for('static', filename='img/cart.png')}}" alt=""></img>
      </ul>
    </div>
  </nav>
  <div id="hero-section">
    <div class="container">
        

        <div class="products" data-product-cards-container></div>
        <template data-product-template>
          <div class="card">
            <img class="img" data-img></img>
            <div class="header" data-header></div>
            <div class="body" data-body></div>
          </div>
        </template>
    
    </div>

    
    <!-- 
        <div>
        <h1 class="texto">Bienvenido a Administración</h1>
        <h1 class="texto">de</h1>
        <h1 class="texto">Adquisiciones</h1>
      </div>
        
        <div id="head-line"></div> -->
  </div>
</header>
<section id="section00">
  <div id="heading"></div>
</section>
<section id="section01">
  <div id="heading"></div>
</section>
<section id="section02">
  <div id="heading"></div>
</section>
<section id="section03">
  <div id="heading"></div>
</section> <!-- <a href="https://youtu.be" id="youtube"><i class="fa fa-youtube-play"></i></a> -->
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script  src="{{url_for('static', filename='js/script.js')}}"></script>


  {% block content %}
    
  {% endblock %}

</body>
</html>
